DISCORD_BOT_ENV="development"
DISCORD_BOT_TOKEN="xxx"
DISCORD_CLIENT_ID="xxx"
DISCORD_GUILD_ID="xxx"

DATABASE_URL="xxx"

SOURCEXCHANGE_TOKEN="xxx"
BUILTBYBIT_TOKEN="xxx"

TICKET_CATEGORY="xxx"

CUSTOMER_ROLE="xxx"
SUPPORT_ROLE="xxx"
MODERATOR_ROLE="xxx"
