DISCORD_BOT_ENV="development"
DISCORD_BOT_TOKEN="xxx"
DISCORD_CLIENT_ID="xxx"
DISCORD_GUILD_ID="xxx"

DATABASE_URL="xxx"

SOURCEXCHANGE_TOKEN="xxx"
BUILTBYBIT_TOKEN="xxx"

TICKET_CATEGORY="xxx"

DEMO_LOGS_CHANNEL="xxx"
SERVER_LOGS_CHANNEL="xxx"
TICKET_LOGS_CHANNEL="xxx"

CUSTOMER_ROLE="xxx"
SUPPORT_ROLE="xxx"
MODERATOR_ROLE="xxx"
OWNER_ROLE="xxx"

ACCENT_COLOR="0x7040ff"
